<section class="container" id="catalogo">
    <h2 class="section-title">Nuestro Catálogo</h2>
    
    <div class="categories">
        <button class="category-btn active" data-category="all">Todas</button>
        <button class="category-btn" data-category="sincronizadores">Sincronizadores</button>
        <button class="category-btn" data-category="manometros">Manómetros</button>
        <button class="category-btn" data-category="extractores">Extractores</button>
        <button class="category-btn" data-category="general">Herramienta general</button>
    </div>
    
    <div class="products">
        <!-- Producto - Sincronizadores -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p1.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>
        
        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p2.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>
        
        <!-- Producto  -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p3.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>
        
        <!-- Producto  -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p4.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>
        
        <!-- Producto - -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p5.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>
        
        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p6.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p7.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p8.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p9.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p10.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p11.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="sincronizadores">
            <img src="images/productos/sincronizadores/p12.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="manometros">
            <img src="images/productos/manometros/p68.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="manometros">
            <img src="images/productos/manometros/p69.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="manometros">
            <img src="images/productos/manometros/p70.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="manometros">
            <img src="images/productos/manometros/p71.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto-  -->
        <div class="product-card" data-category="manometros">
            <img src="images/productos/manometros/p72.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - Extractores -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p24.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p32.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto- -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p33.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="manuales">
            <img src="images/productos/extractores/p45.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p46.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p48.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p49.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p50.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p51.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p52.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p53.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p54.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - Manual -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p55.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p56.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - Manual -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p57.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto-  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p58.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p59.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - Manual -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p60.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - Manual -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p61.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p63.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p64.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="extractores">
            <img src="images/productos/extractores/p65.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto 6 - Herramienta general -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p13.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p14.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p15.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p16.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p17.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p18.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p19.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p20.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto-  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p21.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p22.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p23.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p25.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p26.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p27.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p28.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p29.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p30.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p31.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p34.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p35.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p36.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p37.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p38.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p39.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p40.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p41.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p42.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p43.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p44.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p47.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p62.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p66.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p67.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto -  -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p73.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Producto - -->
        <div class="product-card" data-category="general">
            <img src="images/productos/general/p74.jpeg" alt="Producto 1" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Producto</h3>
                <p class="product-description">Descripcion.</p>
                <!-- <p class="product-price">$00.00</p> -->
                <div class="product-actions">
                    <a href="#" class="btn">Ver detalles</a>
                </div>
            </div>
        </div>

    </div>
</section>
